* {
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #1d2226;
}

/* Cabeçalho */

.cabecalho {
  background-color: #0f1c26;
  height: 104px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}
.cabecalho input {
  all: unset;
  padding-left: 20px;
  background-color: #171b1e;
  min-height: 40px;
  min-width: 456px;
  align-self: center;
  font-family: "Manrope";
  font-size: 16px;
}
.cabecalho a,
.usuario {
  display: flex;
  align-items: center;
  color: #fdfdfd;
  font-family: "Manrope";
}
.cabecalho a img {
  margin: 12px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Anúncio de Cupom */

.anuncio {
  font-family: "Quantico";
  display: flex;
  background: #e183c8;
  position: relative;
  height: 120px;
  width: 800px;
}

.money {
  position: absolute;
  right: 0;
  bottom: -15px;
}

.alinhar {
  margin: 24px;
  align-self: center;
}
.alinhar-2 {
  position: absolute;
  align-self: center;
  left: 500px;
  font-size: 24px;
}
.alinhar-2 p {
  margin-top: 20px;
}
.cupom {
  font-size: 16px;
  display: flex;
  align-items: center;
}
.aproveite {
  font-size: 40px;
}

/* Catálogo de Filmes */

.titulo-secoes {
  font-family: "Manrope";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 16px;
  margin-top: 49px;
  color: #fdfdfd;
}

.top-filmes button,
.filmes button {
  display: flex;
  justify-content: space-between;
  position: absolute;
  font-family: "Manrope";
  font-size: 12px;
  font-weight: bold;
  z-index: 10;
  background-color: #a785ed;
  color: #eee5ff;
  min-width: 152px;
  left: 4.76px;
  bottom: 15px;
  border: 0 none;
}

.top-filmes img,
.filmes img {
  max-width: 100%;
  margin-top: 23px;
}

.top-filmes li,
.filmes li {
  display: inline-block;
  position: relative;
  max-width: 164px;
  max-height: 301px;
  margin-right: 24px;
}
.top-filmes li:nth-child(5),
.filmes li:nth-child(5n) {
  margin-right: 0;
}

/* Gêneros Cinematográficos */

.buttons-category a {
  border: 2px solid #4a4e51;
  width: 164px;
  font-size: 16px;
  margin-right: 24px;
  color: #4a4e51;
  font-family: "Open Sans";
  text-align: center;
  display: inline-block;
}

.buttons-category a:hover {
  background: rgba(225, 131, 200, 0.2);
  color: #e183c8;
  border: 2px solid #e183c8;
}

/* Sacola */
